In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
def tranform_icd10(icd10):
    list_disease = ["I10", "I11","I12", "I13", "I14", "I15"]
    if icd10 in list_disease:
        return 1
    else:
        return 0

In [3]:
df = pd.read_csv('./dataset/BPDataset.csv')
df

,icd10,occupation,sex,age,bt,rr,height,weight,lbpn,hbpn,pr,Outcome
0,166,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
1,B009/2,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
2,L810/2,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
3,Z719,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
4,B07,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,R443,902.0,1,14,36.8,20,158.5,48.1,74.0,105,101.0,0
65531,E119,903.0,1,71,36.6,20,155.0,48.1,60.0,113,82.0,0
65532,A090,403.0,1,50,36.4,20,156.0,48.1,61.0,109,81.0,0
65533,D561,719.0,0,42,36.0,20,169.0,48.1,59.0,99,82.0,0
65534,Z123,719.0,1,40,36.4,20,152.0,48.1,77.0,114,94.0,0

In [4]:
df = df.dropna()
df = df.replace(np.nan, 0)
df["icd10"] = df["icd10"].apply(tranform_icd10)
df

,icd10,occupation,sex,age,bt,rr,height,weight,lbpn,hbpn,pr,Outcome
0,0,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
1,0,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
2,0,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
3,0,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
4,0,903.0,1,50,37.0,18,100.0,1.0,75.0,110,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,0,902.0,1,14,36.8,20,158.5,48.1,74.0,105,101.0,0
65531,0,903.0,1,71,36.6,20,155.0,48.1,60.0,113,82.0,0
65532,0,403.0,1,50,36.4,20,156.0,48.1,61.0,109,81.0,0
65533,0,719.0,0,42,36.0,20,169.0,48.1,59.0,99,82.0,0
65534,0,719.0,1,40,36.4,20,152.0,48.1,77.0,114,94.0,0

In [6]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [7]:
y = df[['icd10']]
x = df.drop('icd10', axis=1)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [10]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

/usr/local/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [14]:
clf = svm.SVC()

In [15]:
clf.fit(x_train, y_train)

/usr/local/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [16]:
clf.score(x_train, y_train)

0.9963996763754045

In [17]:
x_pred_sc = scaler.transform(x_test)
y_pred = clf.predict(x_pred_sc)

In [18]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [28]:
print('Accuarcy:', '{:.4f}'.format(accuracy_score(y_test,y_pred)))

Accuarcy: 0.9733

In [24]:
cfmx = confusion_matrix(y_test,y_pred)

In [25]:
cfmx

array([[12031,     0],
       [  330,     0]])

In [26]:
err = (cfmx[0,1] + cfmx[1,0]) / int(y_test.count())

In [27]:
print('error rate:', '{:.2f}'.format(err))

error rate: 0.03